.background-image {
    background-image: url('https://res.cloudinary.com/dydj8hnhz/image/upload/v1722350662/p1qgfdio6sv1khctclnq.webp');
    background-size: cover;
    background-position: center;
  }
  